In [18]:

import pandas as pd

import requests

from bs4 import BeautifulSoup

req = requests.get("https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=942851379")

soup = BeautifulSoup(req.content,'lxml')

table = soup.find_all('table')[0]

df = pd.read_html(str(table))

neighborhood=pd.DataFrame(df[0])

In [19]:
###QUESTION 1
neighborhood

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

In [7]:
neighborhood.shape

(287, 3)

In [13]:

geo_data = pd.read_csv("http://cocl.us/Geospatial_data")
geo_data

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [52]:
###QUESTION 2
geo_data_new = pd.concat([neighborhood, geo_data], axis = 1)
geo_data2 = geo_data_new[["Latitude", "Longitude"]]
geo_data2 = geo_data2.fillna(0)
geo_data_new

AttributeError: 'list' object has no attribute 'loc'

In [20]:
###QUESTION 3

In [26]:
from sklearn.cluster import KMeans

In [42]:
model = KMeans(n_clusters = 2).fit(geo_data2)
model.predict([[0,0]])

array([1], dtype=int32)

In [49]:
conda install -c conda-forge folium
import folium
map_clusters = folium.Map(location=[43.5,-79], zoom_start=2)
for i in range(0,287):
    folium.CircleMarker(
        [geo_data2.iloc[i]["Latitude"], geo_data2.iloc[i]["Longitude"]]
    )

SyntaxError: invalid syntax (<ipython-input-49-b259341aaf7b>, line 1)